html {
    background-image: url("../img/straws.png");
    color: rgba(103, 110, 99, 0.97);
}

h1 {
    text-decoration-line: underline;
    text-align: center;
}

input[type=text], input[type=password] {
    margin-left: 1em;
    padding: 6px;
    display: block;
    width: 13%;
}

button {
    border-radius: 70px;
}

button:hover {
    background-color: #676e63;
    color: white;
}
