
html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 5px;
}

footer {
    display: inline-block;
}

/*.header-img>img {*/
    /*width: 100%;*/
/*}*/

.sub-section {
    font-style: italic;
}

#social-media-links a>img {
    float: left;
    height: 25px;
}




@media screen and (min-width:700px) {

    h1 {
        text-align: left;
    }
    .main {
        padding-right: 3em;
        box-sizing: border-box;
    }

    .nav-links {
        text-align: right;
    }
    .nav-links li {
        display: inline-block;
        background-color: transparent;
        padding: .2em;
        line-height: 2em;
    }

    /*.main {*/
        /*float: left;*/
        /*width: 30%;*/
    /*}*/

    .sub-section {
        float: right;
    }

    .hidden-on-desktop {
        display: none;
    }

}

@media screen and (max-width:699px) {


    h1 {
        text-align: center;

    }
    .nav-links {
        padding: 0px;
    }

    .nav-links li {
        padding: 1em 0;
        background: rgb(204	204	204);
        text-align: center;
        margin: 10px 0px;
        list-style: none;
    }

    .alert-info {
        background: rgb(201	255	255);
        border: solid lightgray 2px;
        text-align: center;
        padding: 1em;
    }

    .alert-info a {
        text-decoration: none;
        color: black
    }

    .header-img {
        align: center;
        margin: 0 auto;
    }

}

